.header-section {
  text-align: left;
  background-color: #fff;
  color: #fff;
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.05);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 40;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-wrapper {
  display: grid;
  grid-template-columns: auto 50px;
  width: 1248px;
  margin: 0 auto;
}

.search-input {
  background-color: #f2f3f5;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 1px solid rgba(255,255,255,.4);
  border-top: 1px solid rgba(255,255,255,.4);
  border-bottom: 1px solid rgba(255,255,255,.4);
  border-right: transparent;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  outline: 0;
}

.search-btn {
  background-color: #f2f3f5;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 1px solid rgba(255,255,255,.4);
  border-top: 1px solid rgba(255,255,255,.4);
  border-bottom: 1px solid rgba(255,255,255,.4);
  border-left: transparent;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}